<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>SKAdNetworkIdentifier
SKAdNetworkIdentifier</key>
	<string>cstr6suwn9.skadnetwork</string>
	<key>UIAppFonts</key>
	<array>
		<string>MPLUS1p-Bold.ttf</string>
		<string>MPLUS1p-ExtraBold.ttf</string>
		<string>MPLUS1p-Black.ttf</string>
		<string>DS-DIGIB.TTF</string>
		<string>AlfaSlabOne-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
