<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959022189252-2njd7niv6m1o74r4l5bg3ba5fp4rbm3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959022189252-2njd7niv6m1o74r4l5bg3ba5fp4rbm3v</string>
	<key>API_KEY</key>
	<string>AIzaSyCD39MMzTg_uc2W7FcDSe7gh7HNG83fm0E</string>
	<key>GCM_SENDER_ID</key>
	<string>959022189252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkmsnd.DTNK-shinoda01</string>
	<key>PROJECT_ID</key>
	<string>dtnkprod</string>
	<key>STORAGE_BUCKET</key>
	<string>dtnkprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959022189252:ios:69384ed762913790a01791</string>
</dict>
</plist>